.container{
    width: 100%;
    height: auto;
    min-height: 100vh;
}
div.wrapper {
    width: calc(1312 * var(--unit));
    height: auto;
    margin: 0 auto;
}
.header{
    font:700 calc(32 * var(--unit)) 'Prompt';
    color: var(--primary);
    padding: calc(16 * var(--unit));
}
.qoute{
    font:italic 400 calc(16 * var(--unit)) 'IBM Plex Sans Thai' ;
    margin: calc(8 * var(--unit)) 0;
    padding: 0 0 0 calc(16 * var(--unit));
    color: var(--alert);
}
.link-container{
    margin: 0 0 calc(128 * var(--unit)) 0;
}
.link{
    padding: 0 0 0 calc(32 * var(--unit));
}
.link li{
    margin: 0 0 calc(8 * var(--unit)) 0;
    color: var(--mono800);
    font:500 calc(16 * var(--unit)) 'Inter';
}
.link-item{
    font:400 calc(16 * var(--unit)) 'IBM Plex Sans Thai';
    text-decoration: none;
    color: var(--secondary);
}
div.secondSection{
    width: 100%;
    height: calc(624 * var(--unit));
}
div.bioContainer{
    width: calc(448 * var(--unit));
    height: calc(192 * var(--unit));
    position: absolute;
    margin: calc(216 * var(--unit)) 0 0 0;
    display: flex;
}
div.profileImage{
    width: calc(192 * var(--unit));
    height: calc(192 * var(--unit));
    border-radius: calc(96 * var(--unit));
    background: url('../asset/profileImage.png') no-repeat center;
    background-size: cover;
}
div.bioName{
    width: calc(224 * var(--unit));
    height: calc(48 * var(--unit));
    font: 500 calc(32 * var(--unit)) 'IBM Plex Sans Thai';
    color:var(--secondaryVariant);
    position: absolute;
    margin: calc(64 * var(--unit)) 0 0 calc(224 * var(--unit));
    display: flex;
    align-items: center;
}
div.bioStudentData{
    width: calc(224 * var(--unit));
    height: calc(32 * var(--unit));
    font: 400 calc(15 * var(--unit)) 'Plus Jakarta Sans';
    color:var(--mono600);
    position: absolute;
    margin: calc(112 * var(--unit)) 0 0 calc(224 * var(--unit));
    display: flex;
    align-items: center;
}